/* stylesheet - Christian Halsted 2019 */


/* https://medium.com/better-programming/build-a-responsive-modern-dashboard-layout-with-css-grid-and-flexbox-bd343776a97e */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
}

.main {
  grid-area: main;
  background-color: #8fd4d9;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}

body {
    padding-top: 59px;
    font-family: 'Noto Sans';
    height: 100%;
    /* font-size: 22px; */
}

/* .navbar-default {
  background-color: rgb(68, 114, 196);
  border-radius: 0;
  background-image: none;
}
.navbar-default .navbar-brand {
   color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: wheat;
}

.navbar-default .navbar-nav>li>a
{
	color: white;
}
@media (min-width: 100px) {
  .navbar-brand {font-size:13px;}
}
@media (min-width: 400px) {
  .navbar-brand {font-size:18px;}
}

.page-header {
  padding-top: 10px;
} */

.navbar-custom {
    background-color: rgb(68, 114, 196) !important;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
   color: white;
}
.navbar-nav > li > a {
	color: white;
  font-size: .85em;
  padding: 0 10px 0 0;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: gold;
    font-size: .85em;
}

@media (min-width: 100px) {
  .navbar-custom .navbar-brand {font-size:16px;}
  .navbar-custom {font-size:14px;}
}
@media (min-width: 500px) {
  .navbar-custom .navbar-brand {font-size:22px;}
  .navbar-custom {font-size:16px;}
}

#divSidebar, #divMapTable, #divMap, #divTable {
  padding: 0px;
}
#divSidebar, #divMapTable {
  height: 400px;
}

div {
  border: thin solid #999;
}
